<div class="title">
    <h1>Veterinaria Tu Compra</h1>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-5">
                <h2>Bienvenido a la Veterinaria Tu Compra </
h2>
                <p><a href="/usuario/"><i class="fa-solid fa-user"></i> Ver Usuarios</a></p>
                    <p><a href="/mascota/"><i class="fas fa-paw"></i> Ver Mascotas</a></p>
                    <p><a href="/colaborador/"><i class="fas fa-user-md"></i> Ver Colaboradores</a></p>
                    <p><a href="/historia/"><i class="fas fa-clipboard"></i> Ver historias</a></p>
                    <p><a href="/detalle/"><i class="fas fa-info "></i> Ver detalles</a></
p>          
            </div>
        </div>
    </div>
    
    <!--<router-outlet></router-outlet>-->
</div>

